@import "tailwindcss";

.invisible .scrollbar .vertical .fade {
  display: none !important;
}

.loader {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
  animation: loader 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.loader::before,
.loader::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.loader::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
  animation: loader 1s infinite alternate;
  animation-delay: 0s;
}
.loader::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
  animation: loader 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes loader {
  0% {
    background-color: black;
  }
  50%,
  100% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.codeFONT {
    font-family: "Fira Code", monospace;
}

.markdown-css pre div {
  border-radius: 1.25rem !important;
  padding: 1.5em !important;
  margin: 1.5em 0 !important;
  background: rgb(255 255 255 / 3%) !important;
}

.linear-wipe {
  font-size: 1.4rem;
  text-align: center;
  background: linear-gradient(to left, #EDE7F6 0%, #ad90e2 40%, #9378c5 60%, #ffffff 100%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: shine 2s linear infinite;
          animation: shine 2s linear infinite;
}
@-webkit-keyframes shine {
  from {
    background-position: 200% center;
  }
  to {
    background-position: 0% center;
  }
}
@keyframes shine {
  from {
    background-position: 200% center;
  }
  to {
    background-position: 0% center;
  }
}